<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "com.mvc.mapper.MemberMapper">

<select id = "loginCheck" parameterType="com.mvc.entity.Member" resultType ="Integer">
	select count(*) from members where memID = #{memID} and memPassword =#{memPassword}
</select>

<insert id="join" parameterType="com.mvc.entity.Member">
	insert into members(memID,memPassword,memName,memAge,memGender,memEmail) 
	values(#{memID},#{memPassword},#{memName},#{memAge},#{memGender},#{memEmail} )
</insert>





</mapper>